/*header content*/
header{
    margin-bottom: 50px;
}


/*main page content*/
main a{
    text-decoration: none;
}
#profilePicture{
    border-radius: 100%;
    width: 100%;
}

#projects{
   margin-top: 10%;
}

#projects .card{
    border-radius: 5%;
    border-color: rgb(138, 136, 136);
}

#projects .btn{
    color: black;
    border-color: rgb(138, 136, 136);
    border-radius: 10px;
    position: relative;
    left: 22.5%;
    
}
#projects img{
    width: 80%;
    margin: 10%;
    border-radius: 10%;
}
#projects .btn img{
    width: 20px;
    max-width: 40px;
}